<!DOCTYPE html>

<html>
<head>
    <title>ABOUT</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h2>it me</h2>
        <img class="portrait" src="./img/selficon.jpg">
    </div>

    {{>footer}}
</body>

</html>